<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="/cadastro.css">
</head>
<body>
    <h1>Cadastro do Artigo</h1>
    <form action="/cadastro" method="POST">
      <p>Url:</p>
      <input name="url" value="<%= it.slug %>"></input>
      <p>Titulo:</p>
      <input name="titulo" value="<%= it.title %>"></input>
      <p>Conteúdo:</p>
      <textarea name="conteudo"><%= it.content %></textarea>
      <br>
      <button type="submit">Gravar</button>
    </form>

    <br>
    <br>
    <a href="/">Voltar</a>
</body>
</html>